## GITIGNORE file ##
.metadata
.metadata/
bin/
bin/*
tmp/
*.class
311_Homework_3/bin/iastate/edu/cs311/QuickSort.class
311_Homework_3/bin/iastate/edu/cs311/QuickSort.class
311_Homework_3/bin/iastate/edu/cs311/TestSort.class
